<!DOCTYPE html>

<html>

<head>
  <script type="text/javascript" src="/socket.io/socket.io.js">
    console.log('client side javascript')
  </script>
</head>

<body>
    <h1>Get the list of users</h1>
    <form action="/ping?" method="GET"> 
      <button>List</button> 
    </form>

    <a href="/monitor" target="_blank">Monitor Logs</a>

</body>

</html>